.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.headerNavigation {
    position: relative;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    text-align: left;
}

.headerNavigation a {
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 7.5px 10px;
    border-radius: 16px;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out;
}

.headerNavigation a:hover {
    background-color: rgb(225, 225, 225);
}

.headerLogo {
    width: 128px;
    height: 128px;
    margin: 0 auto;
}

.headerLogo img {
    width: 100%;
    height: 100%;
}

.headerTitle {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.titleTitle {
}

.titleDescription {
    width: 50%;
    margin: 0 auto;
    color: rgb(200, 200, 200);
    line-height: 25px;
}

.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.appExample {
    width: 75%;
    margin: 0 auto;
}

.section {
    width: 60%;
    margin: 50px auto 0 auto;
}

.section:nth-child(n + 2) {
    margin-top: 100px;
}

.sectionTitle {
    font-size: 35px;
}

.sectionDescription {
    font-size: 20px;
    width: 50%;
    color: rgb(200, 200, 200);
    margin: 0 auto;
}

.downloadLinks {
    width: 50%;
    margin: 50px auto 0 auto;
}

.downloadLinks a {
    display: inline-block;
    margin: 5px;
}

.downloadLinks img {
    width: 128px;
}

.featuresList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.featuresFeature {
    position: relative;
    flex-basis: 300px;
    color: rgb(235, 235, 235);
    background-color: rgb(100, 100, 100);
    padding: 2.25rem 1.5rem;
    border-radius: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.featureIcon {
    font-size: 60px;
}

.featureDescription {
    font-size: 18px;
    line-height: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 50%;
    height: 100px;
    margin: 50px auto 0 auto;
    color: rgb(200, 200, 200);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.footer a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

.footer a:hover {
    color: #fa586a;
}

.footerLinks a {
    margin-right: 20px;
}

.footerLinks a:last-child {
    margin-right: 0;
}

.comingSoonContainer {
    margin: 20px auto 0;
}

.comingSoon {
    font-size: 0.7em;
    color: #fa586a;
    border: solid 1px #fa586a;
    padding: 4px 11px;
    border-radius: 16px;
}

.smallNote {
    font-size: 0.8em;
    opacity: 0.9;
    margin-left: 5px;
    vertical-align: top;
}

@media screen and (max-width: 500px) {
    .headerNavigation {
        text-align: center;
    }

    .featuresFeature {
        flex: 0 0 100%;
        margin-bottom: 25px;
    }

    .footer {
        width: 75%;
        flex-direction: column;
        justify-content: center;
    }

    .footer > *:nth-child(n + 2) {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .section {
        width: 90%;
    }

    .appExample img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .featuresFeature {
        flex: 0 0 45%;
    }
}

@media screen and (max-height: 800px) {
    .header {
        height: 100vh;
    }
}

@media screen and (min-height: 800px) and (max-height: 950px) {
    .header {
        height: 75vh;
    }
}
